<configuration>
	<system.web>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XMlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<roleManager enabled="true"/>
		<authentication mode="Forms"/>
		<globalization culture="en-US" uiCulture="en-US"/>
		<pages theme="RubBBQ" styleSheetTheme="RubBBQ"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--<customErrors mode="On" defaultRedirect="~/ErrorPages/Default.aspx">
      <error statusCode="401" redirect="~/ErrorPages/401Error.aspx"/>
      <error statusCode="403" redirect="~/ErrorPages/403Error.aspx"/>
      <error statusCode="404" redirect="~/ErrorPages/404Error.aspx"/>
      <error statusCode="500" redirect="~/ErrorPages/500Error.aspx"/>
      <error statusCode="503" redirect="~/ErrorPages/503Error.aspx"/>
    </customErrors>-->
		<!--Personalization-->
		<profile>
			<properties>
				<add name="URL" type="System.String"/>
			</properties>
		</profile>
		<!--Security Trimming-->
	</system.web>
	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
  <!--TODO THIS IS COMMENTED OUT BECAUSE IT MAKES THE WCF WEB SERVICE NOT WORK.  IS THIS NEEDED?-->
  <!--system.serviceModel>
		<bindings/>
		<client/>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
	</system.serviceModel-->
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Data Source=csd.columbusstate.edu;Initial Catalog=6176_su12_TeamC;User ID=6176_TeamC;Password=teamCsu12" providerName="System.Data.SqlClient"/>
		<add name="rub_bbqEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=csd.columbusstate.edu;Initial Catalog=6176_su12_TeamC;Persist Security Info=True;User ID=leonard_scott;Password=sid3149&quot;" providerName="System.Data.EntityClient"/>
		<add name="_6176_su12_TeamCConnectionString" connectionString="Data Source=csd.columbusstate.edu;Initial Catalog=6176_su12_TeamC;User ID=6176_TeamC;Password=teamCsu12" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
